<!--Start of container fluid -->
<template id="reports">
  <div class="container-fluid mainAppContainer">
    <div class="row">
      <h1 class="col-md-6 col-sm-6 hidden-xs textReport">Report</h1>
      <div class="dropdown col-md-6 col-xs-12 col-sm-6 weekButton">
<input class="btn btn-default" name="daterange" onClick="test()" type="button" id="weekButton">
       </div>
    </div>

    <form class="col-md-12 input-group top-bar filterBar hidden-xs">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Team</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="dropdown"><a href="#">Client <span class="sr-only">(current)</span></a></li>
        <li class="dropdown"><a href="#">Project</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle glyphicon glyphicon-tag" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle glyphicon glyphicon-usd" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
      </ul>


      <div class="input">
        <input type="text" class="col-md-3 col-xs-3 form-control graph-view" placeholder="Description...">
      </div>
      <button class="col-sm-3 btn btn-default submitButton" type="submit">Apply</button>
    </form>

    <div class="pull-left" id="gray">Total:</div>
    <div class="pull-left">
      <time id="time"><b>12:02</b></time>
      <seconds id="gray">:00</seconds>
    </div>

    <div class=" row hidden-xs options-holder">
      <div class="pull-right bannerIcon">
        <button type="button" class="btn btn-default" aria-label="Left Align">Export</button>
      </div>
      <div class="pull-right bannerIcon">
        <button type="button" class="btn btn-default" aria-label="Left Align">
          <span class="glyphicon glyphicon-print" aria-hidden="true"></span>
        </button>
      </div>
      <div class="pull-right bannerIcon">
        <button type="button" class="btn btn-default" aria-label="Left Align">
          <span class="glyphicon glyphicon-flag" aria-hidden="true"></span>
        </button>
      </div>
      <div class="pull-right bannerIcon">
        <button type="button" class="btn btn-default" aria-label="Left Align">
          <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
        </button>
      </div>
    </div>

    <div class="row chartData">
      <canvas id="canvas"></canvas>
    </div>
    <div class="row graph-holder">
      <div class="col-md-6 pull-right col-xs-12 donutChartHolder ">
        <canvas id="donutchart"></canvas>
      </div>

      <div class="col-md-6 col-xs-12">

        <span class="hidden-xs hidden-sm col-md-12 col-xs-12   projectTitles ">
        <span class="col-md-1 col-xs-1 plusSign "></span>
        <span>
          <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"> Grouped by Project/Time Entry
          <span class="caret"></span>
        </button>
        <!--Change to jquery event -->
        <button class="btn btn-default dropdown-toggle " type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"> Sorted by Title (A - z)
          <span class="caret"></span>
        </button>

        </span>

        </span>





        <span class="col-md-12 col-xs-12 projectTitles ">
        <span class="col-md-1 col-xs-1 plusSign"></span>
        <span class="col-md-6 col-xs-6 "> <b>Class (by Jonathan Wax)</b> </span>

        <span class="col-md-12 col-xs-6 css-shapes-preview dots" id="very-light-blue"></span>
        <p>3:00:00</p>
        </span>

        <span class="col-md-12 col-xs-12 projectTitles">
        <span class="col-md-1 col-xs-1 plusSign"></span>
        <span class="col-md-6 col-xs-6 ">  <b>PSA working time</b> </span>

        <span class="col-md-12 col-xs-6 css-shapes-preview dots" id="light-blue"></span>
        <p>3:00:00</p>
        </span> <span class="col-md-12 col-xs-12 projectTitles">
        <span class="col-md-1 col-xs-1 plusSign"></span>
        <span class="col-md-6 col-xs-6  ">  <b>Lunch time</b> </span>

        <span class="col-md-6 col-xs-6 css-shapes-preview dots" id="dark-orange"></span>
        <p>3:00:00</p>
        </span>

        <span class="col-md-12 col-xs-12 projectTitles">
        <span class="col-md-1 col-xs-1 plusSign"></span>
        <span class="col-md-6 col-xs-6 ">   <b>Meetings</b> </span>
        <span class="col-md-6 col-xs-6 css-shapes-preview dots" id="mustard">
            
          </span>
        <p>3:00:00</p>
        </span>

      </div>


    </div>
  </div>
</template>
