body {
    font-size: 14px;
}


/* Bootstrap override*/

.navbar-default {
    background-color: #5ca9d8;
    border-color: #cee7f2;
}

.btn-default:hover {
    color: #e7f1f8;
    background-color: #367db0;
    border-color: #3477a8;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #b9bfc1;
    background-color: transparent;
}

.navbar-default .navbar-nav > li > a {
    color: #f9f8f8;
}

.btn-default:hover {
    color: #e7f1f8;
    background-color: #367db0;
    border-color: #3477a8;
}

.btn-default {
    color: #e7f1f8;
    background-color: #5096c9;
    border-color: #5096c9;
}

.navbar-default .navbar-brand {
    color: #f9f8f8;
}

.input-group-addon {
    background-color: #FFF;
}

.top-bar {
    padding-top: 10px;
    margin-bottom: 4%;
    background-color: #F6F6F6;
    border-radius: 20px;
    box-shadow: 2px 2px 1px 1px #8DB2D2;
}

.table-head {
    padding-top: 1%;
    padding-bottom: 1%;
}

.checkbox-fix {
    width: 72px;
}

.list-inline > li > a {
    padding-left: 60px;
    font-size:14px;
    color:white;
}

.logo-img {
    background-color: #BBCFDC;
}

.logo-img:hover {
    background-color: #BBCFDC;
}

.glyphicon-large {
    font-size: 1.8em;
    padding-top: 12%;
}

.btn-go {
    width: 100%;
}
.timerRow{
    display:none;
}
.timerRowManual{
    display:block;
}
.manuallyButton:hover{
    cursor: pointer;
}
/*graph-view*/

.weekButton {
    text-align: right;
    margin-top: 1.3%;
}

.textReport {
    text-align: left;
    margin-bottom: 2%;
}

.options-holder.row.hidden-xs {
    margin-top: 1%;
    margin-bottom: 3%;
}

.total {
    margin-left: 30px;
    float: left;
    color: #929292;
    font-size: 14px;
    font-weight: 600;
    margin-right: 5%;
    vertical-align: baseline;
}

.form-control.graph-view {
    width: 200px;
    margin-top: 10px;
}

.submitButton {
    width: 10%;
    margin-top: 10px;
}

.container-fluid {
    margin: 0 auto;
}

.container-fluid.col-md-9 {
    margin: 0 auto;
    float: none;
    display: table;
    table-layout: fixed;
}

.thickLine {
    display: block;
    height: 1px;
    border: 0;
    border-top: 2px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.css-shapes-preview {
    position: relative;
    height: 13px;
    width: 13px;
    padding: 0px;
    background-color: #033300;
    border-radius: 150px;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}

.dots {
    margin-top: 3px;
    margin-right: 15px;
}

.pull-right.bannerIcon {
    margin-right: 15px;
    margin-left: 4px;
}

.chartData {
    margin-bottom: 4%;
}

#donutchart {
    max-height: 300px;
    max-width: 600px;
}

.donutChartHolder {
    text-align: center;
}


/*Fix the hover underline*/


/*.projectTitles:hover{
    text-decoration: underline;
}*/

.projectTitles {
    padding-bottom: 1em;
    color: #222;
    cursor: pointer;
    border-bottom: 1px solid #e6e6e6;
    padding-top: 1em;
}
.projectTitles.thickLines {
    border-bottom: 3px solid #e6e6e6;

}
#gray {
    font-size: 2em;
    color: gray;
}

#time {
    font-size: 2em;
}


/*Dots color*/

#very-light-blue {
    background-color: #0BE8E8;
}

#light-blue {
    background-color: #1FBFF0;
}

#dark-orange {
    background-color: #F04A18;
}

#mustard {
    background-color: #F2AE24;
}

.plusSign:after {
    content: '+';
    border: solid 1px #ddd;
    background: #fff;
    padding: 0px 3px 0px 3px;
}

.plusSign {
    bottom: -2px;
}

.graph-holder {
    margin-top: 6%;
    margin-bottom: 5%;
}

.reportsHoverMenu .dropdown:hover .dropdown-menu {
    display: block;
}

.footer-basic-centered {
    background-color: #5ca9d8;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    font: normal 0.9em sans-serif;
    padding: 14px;
    margin-top: 60px;
    position: fixed;
    bottom:0;
}


@media screen and (min-width: 768px) {
    .container-fluid.mainAppContainer {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
    .top-bar {
        width: 100%;
    }
    .chartData {
        max-width: 70%;
        margin-right: auto;
        margin-left: auto;
    }
   
}


/*shared view*/

@media screen and (max-width:767px) {
    .dropdown-toggle {
        display: none;
    }
    .time {
        float: right;
    }
    .myText {
        float: left;
    }
    body {
        font-size: 1.5em;
    }
    /*Graph-view*/
    .weekButton {
        text-align: center;
    }
    .result {
        float: right;
    }
    .chartData {
        margin-top: 6%;
        text-align: center;
    }
    .image-chart {
        height: auto;
        width: 100%;
    }
    .donutChartHolder {
        margin-right: 4%;
    }
    .top-bar {
        display: none;
    }
    }

@media screen and (max-width:992px) {
    .dropdown-toggle {
        display: none;
    }
    .time {
        float: right;
    }
    .myText {
        float: left;
    }
    .navFilter {
        margin-left: 15%;
    }
    .graph-view {
        margin-left: 15%;
    }
    .footer-basic-centered{
         display:none;
    }
}


/* The animation code */

@keyframes animationFrames {
    from {
        background-color: #000000;
    }
    to {
        background-color: #BBCFDC;
    }
    0% {
        opacity: 0;
        transform: rotate(-200deg);
    }
    100% {
        opacity: 1;
        transform: rotate(0deg);
    }
}

@-moz-keyframes animationFrames {
    0% {
        opacity: 0;
        -moz-transform: rotate(-200deg);
    }
    100% {
        opacity: 1;
        -moz-transform: rotate(0deg);
    }
}

@-webkit-keyframes animationFrames {
    0% {
        opacity: 0;
        -webkit-transform: rotate(-200deg);
    }
    100% {
        opacity: 1;
        -webkit-transform: rotate(0deg);
    }
}

@-o-keyframes animationFrames {
    0% {
        opacity: 0;
        -o-transform: rotate(-200deg);
    }
    100% {
        opacity: 1;
        -o-transform: rotate(0deg);
    }
}

img.navbar-brand {
    background-color: #BBCFDC;
    animation-name: example;
    animation-duration: 4s;
    animation: animationFrames linear 0.7s;
    animation-iteration-count: 1;
    transform-origin: 50% 50%;
    -webkit-animation: animationFrames linear 0.7s;
    -webkit-animation-iteration-count: 1;
    -webkit-transform-origin: 50% 50%;
    -moz-animation: animationFrames linear 0.7s;
    -moz-animation-iteration-count: 1;
    -moz-transform-origin: 50% 50%;
    -o-animation: animationFrames linear 0.7s;
    -o-animation-iteration-count: 1;
    -o-transform-origin: 50% 50%;
    -ms-animation: animationFrames linear 0.7s;
    -ms-animation-iteration-count: 1;
    -ms-transform-origin: 50% 50%;
}
