    <template id="timer">
    <div class="container-fluid">
            <div class="row">
    
                <a class="pull-right hidden-xs hidden-sm manuallyButton">Add manually</a>
            </div>
             <hr class="hidden-xs hidden-sm"/>
            <div class="row hidden-xs hidden-sm timerRow">
                <form class="col-md-12 input-group top-bar">
                    <div class="col-md-4 form-group hidden-xs hidden-sm">
                        <input type="text" class="form-control" placeholder="What are you working on?">
                    </div>
                    <div class="col-md-2 hidden-xs hidden-sm">
                        <div class="dropdown">
                            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownProjectMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                Select Project
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownProjectMenu">
                                <li><a href="#">Project1</a></li>
                                <li><a href="#">Project2</a></li>
                                <li><a href="#">Project3</a></li>
                                <li><a><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Create Project</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-1  hidden-xs hidden-sm">
                      <a><span class="glyphicon glyphicon-tag glyphicon-large" aria-hidden="true"></span></a>
                    </div>
                    <div class="col-md-3 hidden-xs hidden-sm">
                        <input type="date" class="form-control col-md-12" name="" />
                    </div>
                    <div class="col-md-2 hidden-xs hidden-sm">
                        <button type="button" class="btn btn-default btn-go" data-toggle="tooltip" data-placement="top" title="Start">GO</button>
                    </div>
                </form>
            </div>
            
            <div class="row hidden-xs hidden-sm timerRowManual">
                <form class="col-md-12 input-group top-bar">
                    <div class="col-md-4 form-group hidden-xs hidden-sm">
                        <input type="text" class="form-control" placeholder="What are you working on?">
                    </div>
                    <div class="col-md-2 hidden-xs hidden-sm">
                        <div class="dropdown">
                            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownProjectMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                Select Project
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownProjectMenu">
                                <li><a href="#">Project1</a></li>
                                <li><a href="#">Project2</a></li>
                                <li><a href="#">Project3</a></li>
                                <li><a><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Create Project</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-1  hidden-xs hidden-sm">
                      <a><span class="glyphicon glyphicon-tag glyphicon-large" aria-hidden="true"></span></a>
                    </div>
                    <div class="col-md-3 hidden-xs hidden-sm">
                        <input type="date" class="form-control col-md-12" name="" />
                    </div>
                    <div class="col-md-2 hidden-xs hidden-sm">
                        <button type="button" class="btn btn-default btn-go" data-toggle="tooltip" data-placement="top" title="Start">GO</button>
                    </div>
                </form>
            </div>
            <br>
            <div class="row table-head">
                <div class="col-md-2 hidden-xs hidden-sm checkbox-fix">
                    <div class="input-group">
                        <span class="input-group-addon"><input type="checkbox"></span>
                        <div class="input-group-btn">
                            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuAllRows" data-toggle="dropdown" aria-haspopu="true" aria-expanded="true">
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuAllRows">
                                <li><a href="#">Continue</a></li>
                                <li><a href="#">Delete</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            <div class="col-xs-3 col-sm-3 col-md-3 col-md-offset-1">
                <a data-toggle="collapse" href="#collapseProjRow" aria-expanded="false" aria-controls="collapseExample">Today</a>
            </div>
            <div class="col-xs-3 col-sm-3 col-md-3">
                <p class="time">00:00</p>
            </div>
            <div class="col-md-3 pull-right hidden-xs hidden-sm ">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuSettings" style="float:right" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" data-toggle="tooltip" data-placement="top" title="Setting">
                    <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu pull-right" aria-labelledby="dropdownMenuSettings">
                    <li><a href="#">Today</a></li>
                    <li><a href="#">This Week</a></li>
                    <li><a href="#">This Month</a></li>
                </ul>
            </div>
        <br>
    </div>
            <hr />
            <div class="row collapse" id="collapseProjRow">
               <div class="col-md-2 hidden-xs hidden-sm checkbox-fix">
                   <div class="input-group">
                        <span class="input-group-addon"><input type="checkbox"></span>
                        <div class="input-group-btn">
                            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuSingleProj" data-toggle="dropdown" aria-haspopu="true" aria-expanded="true">
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuSingleProj">
                                <li><a href="#">Continue</a></li>
                                <li><a href="#">Delete</a></li>
                            </ul>
                        </div>
                    </div>
                    </div>
                <div class="col-xs-5 col-sm-5 col-md-5 col-md-offset-1">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-6">
                            <p class="myText" contenteditable="true">(no description)</p>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6">
                            <a><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Select Project</a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-5 col-sm-5 col-md-4">
                <div class="col-xs-1 col-sm-1 col-md-2 col-md-offset-2">
                    <a><span class="glyphicon glyphicon-tag glyphicon-large" aria-hidden="true"></span></a>
                </div>
                <div class="col-xs-1 col-sm-1 col-md-2 pull-right ">
                    <a><span class="glyphicon glyphicon-play glyphicon-large " aria-hidden="true"></span></a>
                </div>
                <div class="col-xs-2 col-sm-2 col-md-6 pull-right text-center">
                    <p class="time" contenteditable="true">00:00</p>
                </div>
                </div>
            </div>

</div>
</template>